
:root {
    /* COLOR VARIABLES */
    --background-color: #0B0A09;
    --text-color: #F6F2E3;
    --primary-color: #C6484B;
    --secondary-color: #71B4AE;

    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Garamond, Arial, sans-serif;
    background: var(--background-color);
    color: var(--text-color);

    margin: 0;
    height: 100%;
}

/* TEXT STYLES */
h1 {
    font-size: 128px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

p {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    /* TODO: ANIMATE HERE */
    color: var(--primary-color);
}

.project-preview {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 40px;
    height: 100%;
}

.subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container {
    display: flex;
    padding: 0 150px;
    max-width: 80vw;
    align-items: center;
    gap: 60px;
    flex: 1 0 0;
}

.side-nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    font-size: 32px;
    text-align: right;
}

.active {
    color: var(--primary-color);
    cursor: default;
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}

.vertical-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}