
:root {
    /* COLOR VARIABLES */
    --background-color: #0B0A09;
    --text-color: #F6F2E3;
    --primary-color: #C6484B;
    --secondary-color: #71B4AE;

    height: 100%;
}

::selection {
    background: var(--secondary-color);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Garamond, Arial, sans-serif;
    background: var(--background-color);
    color: var(--text-color);

    margin: 0;
    height: 100%;
}

/* TEXT STYLES */
h1 {
    font-size: 128px;
    font-weight: bold;
    color: var(--text-color);
    font-family: Garamond, Arial, sans-serif;
    text-align: left;
    margin: 0;
}

h2 {
    font-size: 64px;
    font-weight: 700;
    color: var(--text-color);
    font-family: Garamond, Arial, sans-serif;
    text-align: left;
    margin: 0;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
    font-family: Garamond, Arial, sans-serif;
    text-align: left;
    margin: 0;
}

p {
    font-size: 32px;
    font-weight: 400;
    color: var(--text-color);
    font-family: Garamond, Arial, sans-serif;
    text-align: left;
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover, a:hover * {
    color: var(--primary-color);
}

#skills-table {
    border: 0 solid transparent;

}

#skills-table th {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
    font-family: Garamond, Arial, sans-serif;
    text-align: end;
    padding-right: 1rem;
}

#skills-table th::after {
    content: ':';
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.project-preview {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
}

.image-container {
    position: relative;
    float: left;
}

.image-container:hover .image-original{
    filter: brightness(50%);
}

.image-container .image-hover {
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: none;
}

.image-container:hover .image-hover {
    display: block;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 40px;
    height: 100%;
}

.subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container {
    display: flex;
    padding: 150px;
    height: 100%;
    max-width: 80vw;
    align-items: stretch;
    gap: 60px;
    flex: 1 0 0;
}

.side-nav ol {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    font-size: 32px;
    text-align: right;
}

.active {
    color: var(--primary-color);
    cursor: default;
}

.arrow-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: padding-right 0.3s ease;
}

.arrow-link::after {
    content: '\2192';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.arrow-link:hover {
    padding-right: 40px;
}

.arrow-link:hover::after {
    opacity: 1;
}

.static-arrow-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-right: 20px;
    transition: padding-right 0.3s ease;
}

.static-arrow-link::after {
    content: '\2192';
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.static-arrow-link:hover {
    padding-right: 40px;
}

.static-arrow-link:hover::after {
    opacity: 1;
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    flex: 1 0 0;
}

.tech-stack li {
    padding: 10px 0;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}

.horizontal {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}